.landing {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing button {
  margin-top: 40px;
  cursor: pointer;
  background: #d87d4a;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  width: 160px;
  height: 48px;
}

.landing button:hover {
  background: #fbaf85;
}

.landingText {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.landingText label {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.5;
}

.landingText h2 {
  font-weight: 700;
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

.landingText p {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  opacity: 0.75;
}

@media (max-width: 1440px) {
  .landing {
    justify-content: center;
  }

  .landingPicture {
    position: relative;
    bottom: 100px;
  }

  .textDiv {
    position: absolute;
    z-index: 1;
  }
}
