@font-face {
  font-family: "manrope";
  src: url(../public/assets/fonts/Manrope.ttf) format("truetype");
}

* {
  font-family: "manrope", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
